/*Header styles*/
.header {
  display: flex;
  justify-content: space-evenly;
}
/*Styles labels*/
h1,
h2,
label {
  color: white;
}
/* Styles buttons */
links:hover {
  text-decoration: none;
  color: #0988e2;
}
/* Styles Footer*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #0988e2;
  background-color: #000000d8;
  border: solid 2px #0988e2;
}
