/*Global Styles*/
* {
  display: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  background-color: #00000090;
  height: 100%;
  position: relative;
}
.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
}
/*Header styles*/
.header {
  display: flex;
  justify-content: space-evenly;
}
.container {
  display: flex;
  flex-direction: column;
  border: solid 2px blue;
}

/* Styles lists */
.regbtn {
  margin: 5px;
  padding: 20px;
  background-color: #0988e2;
  border-radius: 15px 50px;
}
a {
  display: flex;
  color: rgb(0, 0, 0);
  list-style: none;
}
/* Styles Footer*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #0988e2;
  color: rgb(0, 0, 0);
}
