/*Global Styles*/
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  background-color: lightgrey;
  height: 100%;
  position: relative;
}
.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 200px; /* height of your footer */
}
/* Styles lists */
li,
a {
  color: #000;
  list-style: none;
}
/* Styles Footer*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: lightgrey;
}
